.modal-content {
    border: none !important;
    border-radius: 0 !important;
    background: #252526 !important;
}

.modal-header {
    padding:3px !important;
    border-bottom: solid 0.5px #474747;
    color: rgb(155, 155, 155);
    font-size: 12px;
}