.variable-container {
    width:100%;
    height:100%;
}

.variable-container > .section {
    width:100%;
}

.variable-title{
    color: rgb(155, 155, 155);
    font-size: 12px;
}

.linkDlv {
    color:#6995cd;
}

.linkDlv:hover{
    text-decoration: underline;
    cursor:pointer;
}