.nodeRow {
    position:relative;
    width:100%;
    padding:15px;
    color:#c5c5c5;
}

.nodeRow:nth-child(odd) {
    background-color: rgb(44, 44, 44);
}

.nodeRow:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

.selectedRow {
    border-left:solid 1px green;
}